<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href=""></a>
    <p>Copyright ©2020 task management</p>
  </div>
  <br><br><br><br><br>
</nav>